<p>Hi <%= user.email %>,</p>
<p>
  Welcome to Workplace Wellbeing Facts, the free stat database. <br /><br />
  If you're looking to improve your workplace's productivity, retention and recruitment, get in touch with the team at <%= link_to 'Seed Music', http://www.seedmusic.co.uk/ %>

  <br />

</p>

Best wishes,<br />
Workplace Wellbeing Facts team