@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

.frosty {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding-top: 30px;
}

.turquoise {
  background: #2BBBAD;
  color: white;
}

.pink {
  background: #f06292;
  color: white;
}

.grey {
  background: #eeeeee;
}

.hero {
  background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
}

body {
  background-color: #F8F8F8;
}

h3 {
  line-height: 1.4em;
  font-family: 'Noto Sans', sans-serif;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
}

.will_paginate {
  color: black;
  letter-spacing: 3px;
  font-size: 120%;
}

.will_paginate a {
  color: grey;
}

.btn-turquoise {
    background: #2BBBAD;
    color: #ffffff;
}
 
.btn-turquoise:hover, .btn-turquoise:focus, .btn-turquoise:active, .btn-turquoise.active, .open > .dropdown-toggle.btn-turquoise {
  background: #26a69a;
  color: white;
  text-decoration: none; 
}
 
.btn-turquoise:active, .btn-turquoise.active {
    background: #007299;
    box-shadow: none;
}

.btn-pink {
    background: #f06292;
    color: #ffffff;
}
 
.btn-pink:hover, .btn-pink:focus, .btn-pink:active, .btn-pink.active, .open > .dropdown-toggle.btn-pink {
  background: #ec407a;
  color: white;
  text-decoration: none; 
}
 
.btn-pink:active, .btn-pink.active {
    background: #ec407a;
    box-shadow: none;
}

.no_bullets {
  list-style: none;
  padding: 0;
}
.ticks {
  padding-left: 1.3em;
  margin-top: 15px;
}
.ticks:before {
  content: "\f00c"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}

.max-width-x {
  max-height: 400px;
}

.navbar {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.navbar-green {
  background-color: #006064;
}

.navbar-transparent {
  background: rgba(0,0,0,.3);
}